* {
    margin: 0;
    padding: 0;
    font-size: 0;
}

header {
    width: 100%;
    height: 150px;
}

#sec1_header, #sec1_logo {
    display: inline-block;
}

#sec1_logo {
    width: 148px;
    height: 128px;
    margin: 15px 15px 0;
    float: right;
}

#sec1_header {
    vertical-align: top;
    margin-right: 40px;
    padding-top: 52.5px;
    float: right;
}

#sec1_header a {
    margin: 0 12.5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    font-weight: 700;
    color: #FFFFFF;
}

#header_otherpage {
    text-decoration: none;
}

body {
    width: 100%;
    display: block;
    background: linear-gradient(to bottom,#2D3040 40%,rgb(93,95,107),#2D3040);
}

#sec2_mission {
    display: block;
    padding: 0 100px;
    text-align: center;
}

#sec2_banner {
    font-family: 'Raleway', sans-serif;
    font-size: 30pt;
    font-weight: 400;
    color: #FFFFFF;
}

#sec2_desc {
    margin-top: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    font-weight: 400;
    color: #FFFFFF;
}

#sec3_meettheteam {
    width: 100%;
    display: block;
    margin-top: 75px;
    margin-bottom: 150px;
    text-align: center;
}

#sec3_banner {
    font-family: 'Raleway', sans-serif;
    font-size: 30pt;
    font-weight: 400;
    color: #FFFFFF;
}

.sec3_members {
    width: 470px;
    height: auto;
    margin: 40px 10px;
    display: inline-block;
    vertical-align: top;
}

.sec3_members img {
    width: 270px;
    height: auto;
    margin-top: 40px;
}

.sec3_member_name {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    font-weight: 400;
    color: #FFFFFF;
}

.sec3_member_title {
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #FFFFFF;
}

.sec3_member_bio {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    font-weight: 400;
    color: #FFFFFF;
}

footer {
    width: 100%;
    height: 150px;
    display: block;
    background-color: #E2DEDE;
    padding-top: 10px;
}

footer hr {
    width: 85%;
    border-top: 3px solid black; 
    margin: 30px 7.5% 0;
        
}

#footer_compname, #footer_comploc {
    margin-left: 8%;
    margin-right: 8%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: black;
}

#footer_compname {
    margin-top: 15px;
}

#footer_comploc {
    margin-top: 5px;
}

#footer_devsig {
    margin-right: 6%;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 28px;
    text-align: right;
    color: #DBA51A;
    text-decoration: underline;
}