<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smooth Session</title>
    <link rel="icon" href="{{ url_for('static', filename='img/smooth_logo1.png') }}">

    <!-- STATIC FILES (NON-SERVER LINKS) -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/aboutus.css">
    <script type="text/javascript" src="../static/js/aboutus.js"></script> -->

    <!-- STATIC FILES (SERVER LINKS) -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/aboutus.css') }}">
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/aboutus.js') }}"></script> -->
</head>
<header>
    <h1>About Us <span>(dev tools)</span></h1>
    <a href="/">go home</a>
    <a href="/updates">go updates</a>
    <hr>
</header>
<body>
    
</body>
</html>